@CHARSET "ISO-8859-1";
.wrapper{
    display: block;
    margin: 28px auto auto;
    width: 622px;
}
.line{
	display: block;
    float: left;
    width: 100%;
    margin-bottom: 14px;
}
.label{
	float: left;
    width: 130px;
}
.input{
	float: left;
}
.container{
	width:100%;
}
.header {
    background: #C1002A;
    color: #FFFFFF;
    font-size: 55px;
    margin: auto;
    padding: 14px;
    width: 695px;
}
.logo {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid;
    color: #A90707;
    float: left;
    font-size: 38px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-right: 11px;
    text-align: center;
    width: 133px;
}
body{
	background-color:lightgray;
}
h2{
   border-bottom: 1px dashed #FF0000;
    display: inline-block;
    margin-bottom: 27px;
}
input[type=submit]{
 background-color: #026399;
  border: medium none;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  float: left;
  font-family: "Palatino Sans W23 Bold";
  font-size: 145%;
  margin-top: 5px;
  padding: 5px 1px 9px;
  text-align: center;
  width: 74px;
}